* {
    box-sizing: border-box;
}
body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}
.row--poster {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 500ms;
    cursor: pointer;
}
.row--posters {
    display: flex;
    overflow: hidden;
    overflow: scroll;
    padding: 18px;
}
.row--poster:hover {
    transform: scale(1.09);
}
.row--posters::-webkit-scrollbar {
    display: none;
}
.row--posterLargue {
    max-height: 250px;
}
.row--posterLargue:hover {
    transform: scale(1.09);
}
.row {
    color: #fff;
    margin-left: 20px;
}

.banner {
    /* -webkit-mask-image: linear-gradient(to left, transparent, #111 90%, #fff 10%); */
    background-image: url(/images/banner1.jfif);
    background-size: cover;
    background-position: center;
    color: #fff;
    object-fit: contain;
    height: 450px;
    
}
.banner2 {
    /* -webkit-mask-image: linear-gradient(to left, transparent, #111 90%, #fff 10%); */
    background-image: url(/images/banner03.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    object-fit: contain;
    height: 450px;
}

.banner--description{
    width: 400px;
    line-height: 1.5;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 90%;
}

.banner--description2{
    width: 400px;
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 1rem;
    max-width: 90%;
}
.banner--contents {
    margin-left: 20px;
    padding-top: 140px;
    height: 140px;
}
.banner--title {
    font-size: 2.5rem;
    font-weight: 900;
    /* padding-bottom: 10px;  */
    /* background-color: rgb(61, 58, 58); */
    /* margin-top: 5rem; */
}

.banner--button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 800;
    border-radius: 15px;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    background-color: rgba(51, 51, 51, 0.5);
}
.banner--button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all ease 0.5s;
}
.banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, -61)  #111);
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav--logo {
    width: 100px;
    object-fit: contain;
    margin-left: 15px;
}
.nav--logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease 0.4s;
    
}
.nav--avatar {
    width: 30px;
    object-fit: contain;
    border-radius: 7px;
    margin-right: 10px;
    
}
.nav--avatar:hover {
    cursor: pointer;
    transform: scale(1.09);
    transition: all ease 0.4s;
}
.nav--black {
    background-color: #000;
    border-bottom: 1px solid red;
} 
.footer {
    font-size: small;
    font-family: Cambria, Cochin; 
    padding-top: 40px;
    text-align: center;
    color: #fff;
    padding-bottom: 15px;
    }

.nav--footer {
    height: 2rem;
    margin-top: 25px;
    margin-bottom: 5px;
}
#copy {
    color: #fff;
    font-size: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#jhone {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#jhone:hover {
    color: red;
    letter-spacing: 1px;
    transition: all 0.7s ease;
}
#jhonejhone {
    text-decoration: none;
}
