* {
    box-sizing: border-box;
}
body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}
.row--poster {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 500ms;
    cursor: pointer;
}
.row--posters {
    display: flex;
    overflow: hidden;
    overflow: scroll;
    padding: 18px;
    /* cursor: pointer; */
}
.row--poster:hover {
    transform: scale(1.08);
}
.row--posters::-webkit-scrollbar {
    display: none;
}
.row--posterLargue {
    max-height: 250px;
}
.row--posterLargue:hover {
    transform: scale(1.09);
}
.row {
    color: #fff;
    margin-left: 20px;
}

.banner {
/*     -webkit-mask-image: linear-gradient(to left, transparent, #111 90%, #fff 10%); */
    background-image: url(images/banner1.jfif);
    background-size: cover;
    background-position: center;
    color: #fff;
    object-fit: contain;
    height: 450px;
    
}
.banner2 {
/*     -webkit-mask-image: linear-gradient(to left, transparent, #111 90%, #fff 10%); */
    background-image: url(/images/banner2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    object-fit: contain;
    height: 450px;
    
}
.banner--description2{
    
    width: 300px;
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 15px;
    max-width: 300px;
    height: 180px;
}
.banner--contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 150px;
}
.banner--title {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 10px;
}
.banner--description{
    
    width: 400px;
    line-height: 1.5;
    padding-top: 1.5rem;
    font-size: 15px;
    max-width: 300px;
    height: 180px;
}
.banner--button {
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 1.8rem;
    padding-top: 0.7rem;
    padding-bottom: 12px;
    background-color: rgba(51, 51, 51, 0.5);
}
.banner--button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all ease 0.2s;
}
.banner--fadeBottom {
    margin-top: 145px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, -61)  #111);
}
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav--logo {
    width: 100px;
    object-fit: contain;
    margin-left: 15px;
}
.nav--avatar {
    width: 30px;
    object-fit: contain;
    border-radius: 7px;
    margin-right: 10px;
}
.nav--black {
    background-color: #000;
} 
.footer {
    font-size: small;
    font-family: Cambria, Cochin;
    padding-top: 40px;
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    }
#jhone {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
